body {
	margin: 0;
	height: 100%;
	background-color: #0f2246;
    font-family: 'Cuprum', sans-serif;

}


/* Cover */

#cover {
	background-image: url(images/giphy.gif);
	background-size: cover;
	background-repeat:no-repeat;
	height: 900px;
	margin-top: -110px;

}

